body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Map styles*/

.mapdiv{
    background-image: url('/map/images/map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    width: 1024px;
}

.walk_button{
    width: 32px;
    height: 32px;
    border: 0;
    position: relative;
    top: 0px;
    left: 0px;
    background: url('/map/icons/walking.png') center no-repeat;
}

.study_button{
    width: 32px;
    height: 32px;
    border: 0;
    position: relative;
    top: 470px;
    left: 440px;
    background: url('/map/icons/studying.png') center no-repeat;
}

.frienly_button{
    width: 32px;
    height: 32px;
    border: 0;
    position: relative;
    top: 0px;
    left: 0px;
    background: url('/map/icons/laugh.png') center no-repeat;
}

.evening_button{
    width: 32px;
    height: 32px;
    border: 0;
    position: relative;
    top: 290px;
    left: 380px;
    background: url('/map/icons/evening.png') center no-repeat;
}

/*128 game styles*/

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in element's total width and height */
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
    width: calc(100vmin - 40px); /* Ensures the board is always square and responsive */
    height: calc(100vmin - 40px); /* Ensures the board is always square and responsive */
    max-width: 500px; /* Limits the board size on larger screens */
    max-height: 500px; /* Limits the board size on larger screens */
}

.cell {
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin; /* Responsive font size */
    font-weight: bold;
    color: #776e65;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.cell-2 { background-color: #eee4da; }
.cell-4 { background-color: #ede0c8; }
.cell-8 { background-color: #f2b179; }
.cell-16 { background-color: #f59563; }
.cell-32 { background-color: #f67c5f; }
.cell-64 { background-color: #f65e3b; }
.cell-128 { background-color: #edcf72; }

#reset-button {
    padding: 10px 20px;
    background-color: #8f7a66;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vmin; /* Responsive font size */
    transition: background-color 0.3s;
    margin-top: 2vmin; /* Responsive margin */
}

#reset-button:hover {
    background-color: #776e65;
}

@media (max-width: 600px) {
    body {
        padding: 0 20px; /* Adds padding to the body on small screens */
    }

    #game-container {
        padding: 20px;
    }

    .cell {
        font-size: 10vmin; /* Adjusted responsive font size for smaller screens */
    }

    #board {
        gap: 5px;
    }

    #reset-button {
        font-size: 5vmin; /* Adjusted responsive font size for smaller screens */
    }
}

/*AssembleWords game styles*/

.AW-container {
    max-width: 300px;
    margin: 20px auto;
    
}

.card {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.card__item {
    margin-bottom: 15px;
}

.edit__block {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.edit__block:focus {
    border-color: #a041d8;
}

.button {
    background-color: #8c47bb;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    outline: none;
    border: 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8416eb;
}

.find__word span:not(:first-child) {
    margin-left: 7px;
}

/*ClickerSport game styles*/

li {
    list-style-type: none;
}

.clicker_btn {
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
}

.score_table {
    font-size: 25px;
    margin-top: 5px;
    color: red;

}

.header-title {
    font-size: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-item {
    margin-right: 20px;
    border-radius: 20px;
}

.titul {
    margin-bottom: 10px;
    font-size: 24px;
}

.CS-container {

    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weightlifter {
    position: relative;
    width: 200px;
    height: 300px;
    background: url('/games/ClickerSport/images/none.png') no-repeat center center;
    background-size: contain;
}

.weight {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('/games/ClickerSport/images/weight.png') no-repeat center center;
    background-size: contain;
    transition: top 0.3s;
}

.weight-first {
    left: 5px;
    top: 200px;
}

.weight-second {
    left: 120px;
    top: 200px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.main {
    display: flex;
    justify-content: space-around;

    align-items: center;
    margin-top: 10vh;
}

.title_for_blocks {
    font-weight: 600;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 15px;
}

.skill-btn {
    border-radius: 30px;
    font-size: 14px;
}


.skills-menu {
    color: white;
    width: 180px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: black solid 2px;
    background: rgba(23, 99, 0, 0.8);
    border-radius: 30px;
}

.statistics {
    color: white;
    width: 180px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: black solid 2px;
    background: rgba(255, 153, 0, 0.8);
    border-radius: 30px;
}



.statistics_list {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

/*Chemist game styles*/

.C-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Изменено на space-between */
    padding: 10px;
    width: 400px;
  }

.substances {
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 20px;
  }
  
  
/* элементы */
.substance {
    opacity: 90%;
    width: 180px;
    height: 100px;
    background-color: #09640c;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid transparent;
  }
  
.substance:hover {
    transform: scale(1.1);
  }
  
  
  /* правый блок */
.result {
    width: 300px;
    height: 200px;
    background-color: #05573e;
    color: goldenrod;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
  }
