      @font-face {

          font-family: 'gooseberry';

          src: url('/assets/gui/gooseberry.otf');

          src: url('/assets/gui/gooseberry.otf');

          font-weight: normal;

          font-style: normal;

      }